body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  background-image: url('background.jpg');
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton, .lineUpButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
  transition: border-size 2s, border-color 2s, transform 2s;
}

.slowD{
  border:25px solid blue;
  border-radius:10px;
  position:absolute;
  transition: border-size 2s, border-color 2s, transform 2s;
}

.slowD:hover{
  transform:rotate(180deg);
  border-color: #FFCCCC;
  border-size:45px;
}

.fastD{
  border:8px solid green;
  border-radius:5px;
  position:absolute;
  transition: border-size 2s, border-color 2s, transform 2s;
}

.dancing{
  transform:scale(3,3);
}
